name: Test nabla
on: [push, pull_request]
jobs:
  Test-nabla:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Prepare
        run: |
          sudo apt install fd-find
          test -d build || {
            mkdir -p build
            wget https://github.com/neovim/neovim/releases/download/v0.5.1/nvim.appimage
            chmod +x nvim.appimage
            mv nvim.appimage ./build/nvim
          }
          mkdir -p ~/.local/share/nvim/site/pack/vendor/start
          ls $GITHUB_WORKSPACE
          cp -R $GITHUB_WORKSPACE ~/.local/share/nvim/site/pack/vendor/start
      - run: echo "Neovim has been installed."
      - name: List files in the repository
        run: |
          ls ${{ github.workspace }}
      - name: Run tests
        run: |
          cat test/test.lua
          ./build/nvim --headless -c "luafile test/test.lua" -c "exit"
          echo "Done"
          cat result.txt
